<style>
        *{margin:0px;padding:0px;}
        html::-webkit-scrollbar {width:5px;} 
</style>
<html>
    <head>
        <title>LiGame后台管理系统</title>
        <link rel="shortcut icon" type="image/icon" href="/static/img/favicon.ico" />
        <style>
         .nav h3, .nav ul{display: none}
        </style>
    </head>
    <frameset rows='10.9%,*' border="none" Bordercolor="#3a3939" noresize="noresize" >
            <frame  src='http://ligame.com/admin/Index/header' name='header' />
            <frameset cols='18.05%,*'   border='none'>
            <frame  src='http://ligame.com/admin/Index/section' id='menu' name='nav' /> 
            <frame  src='http://ligame.com/admin/site' name='right' />
            </frameset>
   </frameset>

</html>