<html>
    <head>
        <title>测试</title>
        <style>
            *{
                margin:0px;
                padding:0px;
            }
        .header_{width:1349px;height:150px;position:absolute;background-color:rgba(0,0,0,0.6);}
        .article_{height:700px;background-image:url('static/image/big_body.jpg');}
        </style>
    </head>
    <body>
        <header class="header_">
            <div class="header_div_img"></div>
        </header>
        <article class="article_">

        </article>
    </body>
</html>