    <html>
        <head>
            <title></title>
            <link href="/static/css/art_right.css" rel="stylesheet" type="text/css"/>
            <link href="/static/layer/theme/default/layer.css" rel="stylesheet" type="text/css"/>
        </head>
        <body>
            <header class="header">
               <p class="p">
               <span class="span">LiGame文章</span>
               <span style="font-family:'微软雅黑';"></span>
               <span></span>
               </p>
            </header>
            <div class="divs">
                文章管理帮助中心 ——
            </div>
            <section class="section">
                <br />
                <ul class="ul">
                    <li><span>温馨提示：</span>"智力是决定成功的因素，建议您不要看这么弟弟的功能介绍"</li>
                    <li><span>文章添加：</span>"添加文章的步骤就是按照他的需求去填写"。</li>
                    <li><span>文章修改：</span>"大哥你如果不会修改的话就去看看添加好趴">>></li>
                    <li><span>文章推荐管理：</span>"JIANYI不要去碰,wo怀疑您小时候喝了三鹿奶粉" (苦笑)</li>
                    <li><span>删除文章：</span>  不会就建议换脑！！！</li>
                    <li><span>来自作者的善意提醒：</span> Happiness is over.</li>
                    <li><span>LiGame文章版本号：</span> 0.0.1 测试版</li>
                    <li><span>最近成就：</span> alert(" Hello wrold ")</li>
                    <li>————————————————————————————————</li>
                </ul>
            </section>
        </body>
    </html>
    <script src="/static/jQuery/jquery.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script>
        $(function(){
            layer.msg('玩命加载中...',{time:700});
        });
    </script>