<style>
        *{margin:0px;padding:0px;}
        body section{width:100%;display:flex;align-content:center;}
         .nav{width:100%;height:100%;background-color:rgb(234,234,234);}
         .title{width:90%;height:50vw;background-color:rgb(234,234,234);line-height:50vw;padding-left:10vw;font-size:12vw;font-family:'宋体';color:#555;}
         .XT_con{padding:10vw;text-align:center;background-color:rgb(244,244,244);}
         .XT_con li{height:20vw;line-height:20vw;list-style:none;color:#888;font-size:1.5vw;margin-top:5vw;}
         .XT_con li a{color:rgb(66, 66, 66);text-decoration:none;display:block;}
         .XT_con li a{background-color:#036d38;color: #fff;}
         .XT_con li a:hover{background-color:#005028;color:#fff;}
 </style>
 <body>
         <section>
             <nav class="nav">
                 <div class="title">文章管理 —</div>
                    <ul class="XT_con">
                            <li class="on"><a href="http://ligame.com/admin/Sitearticle/art_right" target="art_right">帮助</a></li>
                            <li class="on"><a href="http://ligame.com/admin/Sitearticle/add_article" target="art_right">文章添加</a></li>
                            <li class="on"><a href="http://ligame.com/admin/Sitearticle/update_article" target="art_right">文章修改</a></li>
                            <li class="on"><a href="http://ligame.com/admin/Sitearticle/TJ_article" target="art_right">文章推荐管理</a></li>
                            <li class="on"><a href="http://ligame.com/admin/Sitearticle/drop_article" target="art_right">删除文章</a></li>
                        </ul>
             </nav>
             </div>
         </section>
     </body>