<html>
    <link rel="stylesheet" type="text/css" href="/Static/css/login.css">
    <head>
        <meta charset="utf-8" />
        <title>User-LOGIN登录</title>
    </head>
    <body>
        <section>
            <span class="text_title">LOGIN LiGame_me<span class="text_title_min"> -登录联盟|</span></span>
            <hr class="hrtow" />
            <div class="bongimg">
                <div class="div">
                    <form>
                        <h2>Welcome to LogIn</h2>
                        <br />
                        <input type="text" placeholder="User:" />
                        <br />
                        <input type="password" placeholder="Pass:"/>
                        <p class="checkbox">
                             <input id="checked" type="checkbox" />10天免登录
                        </p>
                        <br />
                        <button>LOGIN.</button>
                    </form>
                </div>
            </div>
            <br />
            <div class="bottom">
                <a href="#">懦夫选项</a>
                <a href="#">注册账号</a>
                <a href="#">忘记密码?</a>
            </div>
            <footer>
                <hr />
                <br />
                <p class="userp">
                    <span class="userspan">切换管理员模式</span>
                </p>
            </footer>
        </section>
    </body>
</html>