<html>
        <link rel="stylesheet" type="text/css" href="/Static/css/register.css">
    <head>
        <meta charset="utf-8">
        <title>REGISTER-LiGame注册</title>
    </head>
    <body>
        <section>
            <div class="top"><P>-- RegiSter<span>_注册</span> --</P></div>
            <div class="bigimgs"><div><p>REGISTER<span>_LiGame</span></p></div></div>
            <div class="div">
                <hr class="buxina" />
                <h3>Welcome to register</h3>
                <br /><hr /><br />
                <form action="#">
                    <p><input type="text" placeholder="User：" /></p>
                    <br />
                    <p><input type="password" placeholder="Pass：" /></p>
                    <br />
                    <input class="button" type="button" value="RegiSter." />
                </form>
                <div class="Admin_img">
                    <img width="60%" src="/Static/imags/Admin_img.jpg">
                    <br />
                    <span class="Admin_str">サスケ - 私の弟</span>
                </div>
                <hr class="buxinaX" />
            </div>
            <p class="endp">
                <span>
                <a href="#">懦夫选项</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">已有账号前去登录</a>
                <a href="#">如何注册?</a>
                </span>
            </p>
        </section>
    </body>
</html>